#hiddenButton {
	display: none;
}

#descriptionButton:hover {
	color: white;
}

/* Load Time */

#loadImage {
	z-index: 1;
	position: absolute;
	background-color: #AAAAFF;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#loadImage > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#loadImage > div > div {
	margin: 2px;
	padding: 2px 10px;
}

#loadImage > div > div:not(.loadHidden) {
	background-color: #FF0000;
	transition: color 1s;
}

#loadImage > div > div.loadEffect {
	background-color: #AAAAFF;
}

/* END Load Time */

#planDeTravail {
	margin-left:1%;
	width: 99%;
	margin-bottom: 40px;
	z-index: 2;
}

#mapid {
	opacity: 0.99;
}

#tableauFichiers {
	height: 150px;
	overflow-y: auto;
}

#fileTable > tr:hover {
	cursor: pointer; 
}

#tableauPoints {
	height: 400px;
	overflow-y: auto;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f6f6f6;
}

.focus {
	color: red;
}

